.container {
  display: grid;
  background-color: rgb(201, 201, 201);
  grid-template-columns: auto auto auto auto;
  padding: 10px;
}

.container .item {
  height: 100px;
  background-color: rgb(112, 186, 0);
  color: white;
  border-radius: 5px;
  text-align: center;
  line-height: 100px;
  margin: 5px;
}