.container {
  display: grid;
  flex-direction: column-reverse;
  background-color: rgb(201, 201, 201);
  grid-template-columns: auto auto auto auto;
  padding: 10px;
  gap: 10px;
}

.container div {
  height: 100px;
  background-color: rgb(112, 186, 0);
  color: white;
  border-radius: 5px;
  text-align: center;
  line-height: 100px;
}

.item5 {
  grid-column: 1 / span 2;
}